*{
  font-family:monospace;
  margin: 0;
  padding: 0;
    
}

header{
    width:1000px;
    margin: auto;
}

section{
    width: 1000px;
    margin: auto;    
}

.titulo{...}

.parrafo{...}

.odair{
       color:sandybrown;
       font-size: 50px;
       font-family:fantasy;
       text-align:center;
       
}
    
.tabla_1{
    text-align: center;
    background-color: rebeccapurple;
    color:black;
    padding: 15px 0px 0px 0px;
    font-size: 20px;
}
    
.subtitulo_1{...}

.subtitulo_2{...}

.subtitulo_3{...}

.subtitulo_4{...}

.tabla{
       margin: 15px 0px 15px 0px;
}



    
    

